*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body  {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(201, 240, 200);
    width: 500px;
    margin: auto;
    margin-top: 30px ;
}

h1 {
    font-size: 3rem;
    margin-bottom: 0px;
    padding-left: 16px;
}

form {
    padding: 16px;
    padding-bottom: 0px;
}

input, button {
    
    display: block;
    margin: 6px auto 16px 0px;
    padding: 10px;
    width: 100%;
    border: 1px solid grey;
    border-style: line;
}

button {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: larger;
    background-color: green;
    color: white;
    border: 1px solid green;
    margin-bottom: 10px;
}

button:hover {
    background-color: rgb(10, 80, 10);
    cursor: pointer;
}

.sucess-message {
    color: green;
    border: 1px solid green;
    padding: 10px;
    width: 466px;
    margin-top: 0px;
    margin: auto;
    display: none;
    }

.error-message {
    color:white;
    font-size: small;
    background-color: red;
    padding: 10px;
    width: 100%;
    margin-top: -10px;
    margin-bottom: 16px;
    display: none;
}